<div class="mainContainer">
    <h2 class="welcomeMessageHeading">Welcome to CSE Motors!</h2>
    <section class="heroSection">
        <img 
        src="./images/vehicles/delorean.jpg" 
        alt="Delorean car featured at CSE Motors"
        >
        <div class="heroOverlay">
            <h3>DMC Delorean</h3>
            <p>3 cup holders</p>
            <p>Gull wing doors</p>
            <p>fuzzie dice</p>
            <a href="/" class="button">Own Today</a>
        </div>
    </section>
    <section class="featuresSection">
        <div class="featuresGrid">
            <div class="left-column">
                <h4>Delorean upgrades</h4>
                <div class="upgrades-grid">
                    <div class="carUpgrade">Upgrade A</div>
                    <div class="carUpgrade">Upgrade B</div>
                    <div class="carUpgrade">Upgrade C</div>
                    <div class="carUpgrade">Upgrade D</div>
                </div>
            </div>
            <div class="reviews-block">
                <h4>Customer Reviews</h4>
                <ul>
                    <li>"This is the future!" Doc Brown</li>
                    <li>"Great acceleration" Marty</li>
                    <li>"1.21 gigawatts!" Everyone</li>
                </ul>
            </div>
        </div>
    </section>
</div>