<div class="mainContainer">
    <div class="card">
        <h2 class="wlecomeMessageHeading2">Welcome to CSE Motors!</h2>
        <div class="welcomeMessage"></div>
        <div id="firstImage">
            <img src="./images/vehicles/delorean.jpg"
            alt="delorean">
        </div>
        <div class="card-body">
        </div>
    </div>
</div>