/******* Change Box Model ***************/

@media (min-width: 1024px) {
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  header {
    background-color: white;
  }

  nav ul li {
    display: inline;
    padding: 5rem;
  }

  .mainContainer {
    display: grid;
    grid-area: auto;
  }
}