/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

@media (max-width: 351px) {
  header {
    background-color: aquamarine;
    display: flex;
  }
  
    nav {
    display: flex;
    flex-direction: column;

  }

  nav ul {
    display: flex;
    flex-direction: column;
    padding-right: 3.5rem;
    justify-items: center;
  }

  nav ul li {
    margin-top: .5rem;
    text-align: center;
  }
  
}