/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
#wrapper {
  background-image: url('../images/site/small_check.jpg');
}
@media (min-width: 351px) {
  .mainContainer {
    background-color: aqua;
    display: grid;
  }
  
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  header a {
    color: brown;
  }
  
  header a:hover {
    color: black;
    background-color: black;
  }
  
  nav {
    background-color: bisque;
    display: flex;
    flex-direction: row;
  }
  
  nav ul li {
    display: inline;
    padding: 3rem;
  }
  
  nav a:hover {
    color: black;
  }
  
}

