/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
#wrapper {
  background-image: url('../images/site/small_check.jpg');
  background-repeat: repeat;
  min-height: 100vh;
  padding: 2rem 1rem;
}
  .mainContainer {
    background-color: aqua;
    display: grid;
  }
  
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  header a {
    color: green;
    padding: 1rem;
  }
  
  header a:hover {
    color: black;
    background-color: black;
  }
  
  nav {
    background-color: bisque;
    display: flex;
    flex-direction: row;
  }
  
  nav ul li {
    display: inline;
    padding: 3rem;
  }
  
  nav a:hover {
    color: black;
  }

  footer {
    background-color: aqua;
  }
  

