<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>
<div id="invManagement">
  <a href="/inv/add-inventory">Add New Vehicle</a><br>
  <a href="/inv/add-classification">Add New Classification</a>
</div>